<div class="search-header">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        
        <form>
          <h2 class="v-center">Search</h2>
          <p class="lead">Find a Tv-Show</p>
          
          <div class="input-group">
            <input type="text" class="form-control input-md" ng-model="name" />
            <span class="input-group-btn">
              <button 
                type="submit"
                class="btn btn-md btn-success pull-right"
                ng-click="search()">
                search
              </button>
            </span>
          </div>  
          <p ng-show="show.length === 0 ">
            <i>**no results found</i>
          </p>
        </form>
        <!-- <pre ng-if="show"> {{show}} </pre> -->
        <div>
         
        </div>         
      </div>
      
      </div>
      <div class="col-md-1"></div>
      <div shows-preview show="show">
    </div>
  </div>
</div>
